body {
  margin: 10px;
  font-family: Arial, sans-serif;
  background: linear-gradient(#000000, #4A0E17);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFE903;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

nav h1 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #000000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #7C878E;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  color: whitesmoke;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #7C878E;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.aa {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card2 {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px yellow;
  transition: transform 0.2s;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transform: scale(1.05);
  background-color: #EFE903;
}

.card2:hover {
  transform: scale(1.05);
  background-color: #EFE903;
}

footer {
  background-color: #EFE903;
  padding: 10px;
  text-align: center;
  color: black;
  width: 100%;
}
.logo:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg);
}