body {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  background: linear-gradient(#000000, #4A0E17);
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFE903;
  padding: 10px 20px;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

nav h1 {
  margin: 0;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #000000;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #7C878E;
  border-radius: 8px;
  padding: 20px;
  color: whitesmoke;
}

.cards, .aa {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.card {
  background-color: #7C878E;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.2s;
  color: whitesmoke;
}

.card2 {
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 10px #EFE903;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.card:hover, .card2:hover {
  transform: scale(1.05);
  background-color: #EFE903;
  color: #000000;
}

.logo:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg);
}

footer {
  background-color: #EFE903;
  padding: 5px 0;
  text-align: center;
  color: #000000;
  width: 100%;
}
